body{
    background-color:#4acbd6 ;
    display:flex;
    justify-content: center;
    align-items: center;
}
.manager-manage-container{
    background-color:#fff;
    padding:20px 20px;
}
.managers-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
 .managers-table tr th {
    background-color: #4acbd6;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
  }
  .manager-table tr td{
    text-align: center;
  }
  .managers-table th,.managers-table td {
    padding: 12px 15px;
  }
.managers-table  tr {
    border-bottom: 1px solid #dddddd;
  }
.managers-table tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
.managers-table  tr:last-of-type {
    border-bottom: 2px solid #4acbd6;
  }
input[type="button"],input[type="submit"]{
    width:81px;
    height:31px;
    margin:10px;
    background-color: white;
    color:#fff;
    cursor:pointer;
    transition:all ease 0.5s;
}
input[type="button"]:first-child{
    background-color:#4acbd6;
    border:1px solid #4acbd6;
}
input[type="button"]:last-child,input[type="submit"]{
    background-color: #ec2c2c;
    border:1px solid #ec2c2c;
}
input[type="button"]:first-child:hover{
    background-color: #2566c2;
    color:#fff;
}
input[type="button"]:last-child:hover,input[type="submit"]:hover{
    background-color: #c01616;
}
.manager-add table tr td,.manager-update tr td{
padding:10px 20px;
}
.btn{
  display:flex;
  flex-direction: column;
  position:absolute;
  top:10px;
  right:390px;
}
.btn .btn-home{
  width:max-content;
}
hr{
    border:1px solid #4acbd6;
}
@media(max-width:800px){
  .manager-details {
      margin-left:50px;
    }
    .manager-add{
      margin-left:50px;
    }
    .manager-add table tr td,.manager-update tr td{
      padding:20px 20px;
      }
      .btn{
        position:static;
      }
      .h-btn{
        display:flex;
        justify-content: space-between;
      }
      .h-btn h1{
        margin-left:0px;
      }
  }