body{
    background-color:#4acbd6 ;
    display:flex;
    justify-content: center;
    align-items: center;
}
.manager-manage-container{
    background-color:#fff;
    padding:20px 20px;
}
.managers-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
 .managers-table tr th {
    background-color: #4acbd6;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
  }
  .manager-table tr td{
    text-align: center;
  }
  .managers-table th,.managers-table td {
    padding: 12px 15px;
  }
.managers-table  tr {
    border-bottom: 1px solid #dddddd;
  }
.managers-table tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
.managers-table  tr:last-of-type {
    border-bottom: 2px solid #4acbd6;
  }
input[type="button"]{
    width:81px;
    height:31px;
    margin:10px;
    background-color: white;
    color:#fff;
    cursor:pointer;
    transition:all ease 0.5s;
}
input[type="button"]:first-child{
    background-color:#4acbd6;
    border:1px solid #4acbd6;
}
input[type="button"]:last-child{
    background-color: #ec2c2c;
    border:1px solid #ec2c2c;
}
input[type="button"]:first-child:hover{
    background-color: #2566c2;
    color:#fff;
}
input[type="button"]:last-child:hover{
    background-color: #c01616;
}
.manager-add-update table tr td{
padding:10px 20px;
}
hr{
    border:1px solid #4acbd6;
}