.profile-container{
    margin-bottom:240px;
}
h1{
    text-align:center;
    font-size: 29px;
    margin-top:30px;
}
.profile-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}
.profile-container h3{
    font-size:21px;
    color:#fff;
    padding:10px 5px;
    background-color: #4e97fd;
}
.profile-container .profile-item{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border:1px solid #e1e1e1;
    margin:30px;
    width:500px;
}
.profile-container .profile-item .content{
    padding:4px 10px;
    background-color: #e1e1e1;
}
/* Responsive */
@media(max-width:800px){
    .profile-container{
        flex-direction: column;
    }  
    .profile-container .profile-item{
        width:350px;
        margin-top:50px;
    }
}