body{
    background-color:#4acbd6 ;
    display:flex;
    justify-content: center;
    align-items: center;
}
.products-manage-container{
    background-color:#fff;
    padding:20px 20px;
}
.products-manage-container p{
  font-size:16px;
}

input[type="button"],input[type="submit"]{
    width:81px;
    height:31px;
    margin:10px;
    background-color: white;
    color:#fff;
    cursor:pointer;
    transition:all ease 0.5s;
}
input[type="button"]:first-child{
    background-color:#4acbd6;
    border:1px solid #4acbd6;
}
input[type="button"]:last-child,input[type="submit"]{
    background-color: #ec2c2c;
    border:1px solid #ec2c2c;
}
.btn{
  display:flex;
  position:absolute;
  top:20px;
  right:320px;
}
.btn .btn-home{
  width:max-content;
}
hr{
    border:5px solid #4acbd6;
  }
  .products-manage-container p{
    font-size:16px;
  }
   table tr th {
      background-color: #4acbd6;
      color: #ffffff;
      text-align: center;
      font-weight: bold;
    }
    table tr td{
      text-align:center;
    }
    table th,table td {
      padding: 12px 15px;
    }
/* RESPONSIVE */
@media(max-width:800px){
    .products-manage-container>p{
      margin-left:235px;
    }
    .btn{
      position:static;
    }
    .h-btn{
      display:flex;
      justify-content: space-between;
    }
  }